* {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #181818;
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App{
    width: 880px;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.post__btn{
    display: flex;
    justify-content: space-between;
}
.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    transform: translateX(0px);
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}


.page__wrapper{
    margin-top: 30px;
    display: flex;
}

.page{
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current{
    border: 2px solid orange;
    font-weight: bold;
}

.navbar{
    height: 50px;
    width: 880px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: teal;
}
.navbar__content{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.navbar__items{

}
.navbar__item{
    margin-right: 20px;
}
.link{
    color: white;
    text-decoration: none;
    font-size: 18px;
}